.DS_Store
cache/
**.aux
**.bbl
**.blg
**.blg
**.fdb_latexmk
**.fls
**.log
**.out
**.synctex.gz
**.toc
**.loa
**.lof
**.lot
**.snm
**.nav
analysis/
/images/
min_city/output.csv
min_city/data/
min_city/target/
min_city/Cargo.lock