.DS_Store
cache/
data/
Latex/main.aux
Latex/main.bbl
Latex/main.blg
Latex/main.blg
Latex/main.fdb_latexmk
Latex/main.fls
Latex/main.log
Latex/main.out
Latex/main.synctex.gz
Latex/main.toc
Latex/main.loa
Latex/main.lof
Latex/main.lot